.about{
    margin: 1rem;
 
    // about data
    .about-data{text-align: center;}

    // about description
    .about-description span{
        font-size: 2rem;
        font-weight: $semi-bold;
        // color: $light;
    }

    // about number
    .about-number{
       font-size: 1.5rem; 
       color: $icon;
       display: block;
    }
    // about-achievement
    .about-achievement{
        color:$title-color;
    }
    .about-img{
        justify-self: center;
      img{
          width: 15rem;
          height: 15rem;
          border-radius: 50%;
      }

        
    }

    @media screen and (min-width: 576px) {
        .about-container{
            grid-template-columns: repeat(2,1fr);

            .about-img{
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 90%;
                    border-radius: 5px;
                    display: block;
                   

                }
            }
        }
      }

      @media screen and (min-width: 768px) {
          .about-description{
              text-align: initial;
            //   color: red;
          }

          .about-img{
              width: 300px;
          }
      }
}