// $first-color:#3e0e12;
// $first-color-dark:#2f0a0d;
// $text-color:#524748;
// $first-color-light:#7b6f71;
// $first-color-lighten:#fbf9f9;

// $first-color:#9EBD6E;
// $first-color-dark:#5AAB71;
// $text-color:#38A272;
// $first-color-light:#169873;
// $first-color-lighten:#fbf9f9;


// $first-color:#edddd4;
// $first-color-dark:#011627;
// $text-color:#edddd4;
// $first-color-light:#197278;
// $first-color-lighten:#283d3b;


$first-color:#011627;
$first-color-dark:#011627;
$text-color:#ff9f1c;
$first-color-light:#fff;
$first-color-lighten:#fdfffc;