$dark:#333;
$text-white:#fff;
$text-dark:rgb(54, 52, 52);
$lighten:rgb(136, 130, 130);



// $first-color:#3e0e12;
// $first-color-dark:#2f0a0d;
// $text-color:#524748;
// $first-color-light:#7b6f71;
// $first-color-lighten:#fbf9f9;

// $first-color:#9EBD6E;
// $first-color-dark:#5AAB71;
// $text-color:#38A272;
// $first-color-light:#169873;
// $first-color-lighten:#fbf9f9;

// $first-color:#edddd4;
// $first-color-dark:#011627;
// $text-color:#edddd4;
// $first-color-light:#197278;
// $first-color-lighten:#283d3b;

// $first-color: #011627;
// $first-color-dark: #011627;
// $text-color: #ff9f1c;
// $first-color-light: rgb(39, 19, 19);
// $first-color-lighten: #fdfffc;


// $first-color: #ff6b35;
// $first-color-dark: #ff6b35;
// $text-color: #ff6b35;
// $first-color-light: #ff6b35;
// $first-color-lighten: #252422;

// $first-color: #565264;
// $first-color-dark: #d6cfcb;
// $text-color: #d6cfcb;
// $first-color-light: #0466c8;
// $first-color-lighten: #323031;
