.contact{
    .contact-container{
        row-gap:2.5rem;

        .contact-content{
            grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
            
            // contact-box
            .contact-box{
                background-color: #fff;
                border-radius: .5rem;
                padding: 1.5rem;
                text-align: center;
                box-shadow: 0 4px 6px rgba(174,190,205,.3);

                // contact-title & ico
                .contact-title,.contact-icon{
                    color: $first-color;
                }
                .contact-title{
                    font-size: 1.9rem;
                    margin: $mb-1;
                }
                .contact-icon{
                    color:$first-color-light;
                    font-size: 1.25rem;
                    margin: 0 $mb-1;
                }

                &:hover{
                    box-shadow: 0 2px 3px 4px rgba(174,190,205,.4);
                    ;
                }
            }
          }



        //   contact-form
        .contact-inputs{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 1rem;

        }
        .contact-input,.contact-btn{
            outline: none;
            font-size: 1.1rem;
        }
        .contact-input{
            width: 100%;
            padding: 1rem;
            border: 2px solid $first-color-light;
            color: $first-color;
            border-radius: .5rem;
            margin-bottom: $mb-1;
        }
        .contact-btn{
            cursor: pointer;
            outline: none;
        }
      
    }
    ::placeholder{
        color: $first-color-light;
        font-weight: bold;
    }
    @media screen and (min-width:576px) {
        .contact-form{
            width: 450px;
            justify-self: center;
        }
        
    }
}