// font and typography
$body-font: 'Poppins', sans-serif;
$xxl: 1.5rem;
$xl: 0.98rem;
$s: 0.83rem;
$sm: 0.75rem;
$h1: .5rem;
$h2: .25rem;
$h3: .25rem;

// font weight
$medium: 500;
$semi-bold: 600;
$bold: 700;

@media (min-width: 768px) {
  $xxl: .25rem;
  $xl: 0.938rem;
  $s: 0.875rem;
  $sm: 0.813rem;
  $h1: 1.5rem;
  $h2: .5rem;
  $h3: .25rem;
}
