.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;

  .footer-container {
    padding: 3rem 0;

    .footer-title {
      font-size: 2rem;
      margin-bottom: $mb-1;
      font-weight: bold;
      // background-color: var(--primary-color);
      color: var(--secondary-color);
    }

    // footer-description
    .footer-description {
      margin-bottom: $mb-2;
    }

    // footer-social

    .footer-social {
      margin-bottom: $mb-6;

      // footer-link
      .footer-link {
        font-size: 1.4rem;
        color: var(--secondary-color);
        margin: 0 $mb-1;
        transition: 0.3s;

        &:hover {
          // background-color: var(--primary-color);
          color: var(--secondary-color);
        }
      }
    }

    // footer-copy
    .footer-copy {
      font-size: 1rem;
    
      color: var(--secondary-color);
    }
  }
}
