.home{
    background-color: #000;
    overflow: hidden;
    .home-container{
        position: relative;
        height: calc(100vh - 2rem);
        grid-template-rows: repeat(2, max-content);
        align-content: space-around;
        row-gap: 2rem;
        // background-color:rgba(83, 139, 161, 0.835) ;
        

        // home-data
        .home-data{
            border-left: 4px solid $first-color-lighten;
            padding-left: 1.5rem;
            z-index: $z-tooltip;
           margin-left: .50rem;
            
            .home-name{
                font-size: 2rem;
            }
            .home-greeting{font-size: 1rem;}
            .home-profession{font-size: 1rem; margin-bottom: 1rem;}
            .home-greeting,.home-profession{
                display: block;
                font-weight: bold;

            }
        }

        // HOME IMAGE   
        .home-img{
            position: absolute;
            right: 0;
            bottom: 10px;
            
           

            img{
                width: 200px;
                // height: 200px;
                border-radius: 10px;
                overflow: hidden;
            display: block;
            margin: auto;
            }
        }

        // home social
        .home-social{
            display: flex;
            flex-direction: column;

            .home-social-icon{
                width: max-content;
                font-size: 1.3rem;
                margin-bottom: $mb-2;
                color: $first-color-lighten;
                padding-left: .80rem;
                &:hover{
                   color: $first-color-light; 
                }
            }
        }
    }
    @media screen and (min-width: 576px) {
        .home-img{width:330px ;}
      }
}