
.home {
  .home-container {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1rem;
 

    .home-data {
      border-left: 4px solid;
      padding-left: 1.5rem;
      z-index: $z-tooltip;
      margin-left: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 3rem;
      

      .home-name {
        font-size: 2rem;
      }
      .home-greeting {
        font-size: 1rem;
      }
      .home-profession {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
      .home-greeting,
      .home-profession {
        display: block;
        font-weight: bold;
      }
    }
    .home-img{
   
        // border:1px solid #ccc;
        // display: block;
        // border-radius: 10px;
        // overflow: hidden;
    }

    // home social
    .home-social {
      display: flex;
      // flex-direction: column;

      .home-social-icon {
        width: max-content;
        font-size: 1.3rem;
        margin-bottom: $mb-2;
        color: $icon;
        padding-left: 0.8rem;
        &:hover {
          color: $hover;
        }
      }
    }
  }
}
@media (min-width: 550px) {
  .home {
    .home-container {
      grid-template-columns: repeat(2, 1fr);

      .home-data{
          margin-top: 0;
      }
    }
  }
}
