.portfolio {

  // portfolio-nav
  .portfolio-nav {
    text-align: center;
    margin-bottom: $mb-3;

    // portfolio-item
    .portfolio-item {
      margin: 0 $mb-2;
      cursor: pointer;

    }
  }
  // portfolio-content
  .portfolio-content {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px ;
    margin-top: 1rem;
    &:hover {
      box-shadow: 0 6px 8px ;
    }
  }

  // portfolio-image
  .portfolio-img {
    width: 100%;
    transition: 0.5s;
    &:hover {
      transform: scale(1.02);
    }
  }
  .portfolio-data {
    padding: 1.5rem;
    text-align: center;
 
    .portfolio-subtitle {
      font-size: 2rem;
      color: $title-color;
  
    }

    .portfolio-title {
      font-size: 1.5rem;
      margin: $mb-2 0;
    color: rgb(110, 109, 109);
    text-align: left;
    }
  }

  .active-portfolio {
    font-weight: bold;
  }
  @media screen and (min-width: 576px) {
    .portfolio-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 768px) {
    .portfolio-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
