.qualification {
  margin: 1rem;
  
  // qualification-containeer
  .qualification-container {
    row-gap: 2.5rem;
  }

  // qualification-title
  .qualification-title {
    font-size: 2rem;
    color: $text-white;
    margin-bottom: $mb-2;
    display: flex;
    align-items: center;

    .qualification-icon {
      font-size: 1.5rem;
      margin-right: $mb-1;
    }
  }
  // qualification-box
  .qualification-box {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }

  //qualification-area
  .qualification-area{
      font-size: 1.5rem;
      // color: green;
      margin-bottom: $mb-1;
      font-weight: $medium;

  }
  .qualification-icon, .qualification-work{
      font-size: 1.1rem;
      // color: blue;
    //   text-align: center;

  }
  .qualification-work{
      display: block;
  }
  @media screen and (min-width: 576px) {
    .qualification-container{
      grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 768px) {
   .qualification-box{
     display:flex ;
     justify-content: space-between;
   }
}
@media screen and (min-width: 1024px) {
  .qualification-container{
    column-gap: 6rem;
  }
}
}
