.testimonial{

    .testimonial-content{
        display: grid;
        background-color: $lighten;
        color: $text-white;
        border-radius: .5rem;
        padding: 2rem 1rem;
        text-align: center;
        box-shadow: 0 4px 8px rgba(47,10,13,.25);

       
    }

    .testimonial-img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        justify-self: center;
        margin-bottom: $mb-1;
    }

    .testimonial-client{
        font-size: 1.5rem;
        color: $text-white;
        margin-bottom: $mb-2;
    }
}