.testimonial{

    .testimonial-content{
        display: grid;
        border-radius: .5rem;
        padding: 2rem 1rem;
        text-align: center;
        box-shadow: 1px 4px 8px ;
        overflow: hidden;

       
    }

    .testimonial-img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        justify-self: center;
        margin-bottom: $mb-1;
    }

    .testimonial-client{
        font-size: 1.5rem;
        color:$light;
        margin-bottom: $mb-2;
    }
}